.header {
  font-size: 1.25rem;
  padding-inline: 0 2rem;

  border-bottom: 2px solid #3a3a3a;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoContainer {
  width: 10rem;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}
